<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NaatPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A66E306D1D0D0B90007A64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66E30811D0D0B90007A64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66E308C1D0D0B90007A64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
